* {
    box-sizing: border-box;
}

.border {
    border: black 2px solid;
}

section {
    width: 100vw;
    max-width: 1200px;
    min-height: 50px;
    background-color: #FF0000;
    padding: 10px 10px 0 10px;
    position: relative;
    margin: 0 auto;
}

.conteiner {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    min-height: 50px;
    background-color: #008000;
    margin-bottom: 10px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.block {
    padding: 10px;
}

.padding-col {
    padding-right: 10px;
    padding-bottom: 10px;
}

.col-50 {
    color: #fff;
    flex-grow: 1;
    width: 50%;
    min-width: 50%;
}

.col-25 {
    flex-grow: 1;
    width: 25%;
    min-width: 25%;
}

.col-40 {
    flex-grow: 1;
    width: 40%;
    min-width: 40%;
    order: 1;
}

.col-60 {
    flex-grow: 1;
    width: 60%;
    min-width: 60%;
    order: 2;
}

.bg-blue {
    background-color: #0000ff;
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-pink {
    background-color: #ff1493;
}

@media (max-width: 900px) {
    .col-50, .col-40, .col-60 {
        flex-grow: 1;
        width: 100%;
        min-width: 100%;
    }

    .col-25 {
        flex-grow: 1;
        width: 50%;
        min-width: 50%;
    }

    .col-40 {
        order: 0;
    }

    .col-60 {
        order: 0;
    }
}